.nav {
  display: flex;
  gap: 77px;
}
.nav__link {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.div-header-general {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 66px 0px 71px;
  width: 1280px;
}

header {
  background-color: black;
}

.container-pozishin-header {
  display: flex;
  justify-content: center;
}

.div-general-footer {
  display: flex;
  justify-content: center;
  gap: 180px;
  padding: 0px 0px 74px;
}
.div-general-footer__div-content {
  display: flex;
  gap: 50px;
}
.div-general-footer__div-content > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.3);
}

.div-main-general-section-order {
  display: flex;
  justify-content: end;
}
.div-main-general-section-order__div-text-text-start {
  width: 250px;
}
.div-main-general-section-order__div-text-text-end {
  width: 120px;
}
.div-main-general-section-order__div-text {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.div-main-general-section-order__div-text-and-button-button {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: white;
  padding: 22px 156px;
  background: #DF3D3A;
  border: 0px;
}
.div-main-general-section-order__div-text-and-button {
  display: flex;
  flex-direction: column;
  gap: 86px;
  padding: 94px 0px 0px 100px;
}

h1 {
  width: 600px;
}

.part2-section-order {
  width: 600px;
}

@media (max-width: 1300px) {
  .part2-section-order {
    width: 480px;
  }
  .div-main-general-section-order__div-text-and-button-button {
    padding: 22px 122px;
  }
}
.div-main-general-section-description {
  display: flex;
  gap: 100px;
}
.div-main-general-section-description__div-text-2half {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-main-general-section-description__div-text-1half {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-main-general-section-description__div-text-osnova {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.div-main-general-section-description__div-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-description {
  padding: 170px 0px 0px;
}

@media (max-width: 1200px) {
  .part2-section-description {
    width: 480px;
  }
}
.div-main-general-section-functionality {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 170px 0px;
  align-items: center;
}
.div-main-general-section-functionality__title {
  padding: 0px 140px 0px 0px;
}
.div-main-general-section-functionality__div-content-text1-half {
  display: flex;
  align-items: center;
  gap: 10px;
}
.div-main-general-section-functionality__div-content-text1-half-img {
  height: 13px;
}
.div-main-general-section-functionality__div-content-text1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-main-general-section-functionality__div-content-text2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-main-general-section-functionality__div-content {
  display: flex;
  gap: 220px;
}

.div-main-general-section-img {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.div-main-general-section-img__title {
  padding: 0px 80px 50px 0px;
}
.div-main-general-section-img__img {
  background-image: url(/img/image234.png);
  width: 100%;
}

@media (max-width: 1200px) {
  .div-main-general-section-img__title {
    font-size: 40px;
  }
}
.div-main-general-section-text {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px 0px 170px 0px;
}
.div-main-general-section-text__div-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
}

.div-main-general-section-information-platform {
  display: flex;
  justify-content: end;
  gap: 170px;
}
.div-main-general-section-information-platform__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.div-main-general-section-information-platform__osnova-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-main-general-section-information-platform__osnova-content-text {
  width: 300px;
}

.posishion-section6-main {
  display: flex;
  justify-content: end;
}

@media (max-width: 1383px) {
  .part2-section-information-platform {
    width: 500px;
  }
}
.div-main-general-section-advantages {
  display: flex;
  gap: 130px;
  padding: 170px 0px;
}
.div-main-general-section-advantages__div-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.div-main-general-section-advantages__div-content-part1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 330px;
}
.div-main-general-section-advantages__div-content-part2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 290px;
}

.part2-section-advantages {
  width: 500px;
}

.div-main-general-section-history {
  display: flex;
  justify-content: end;
  gap: 150px;
}
.div-main-general-section-history__div-part1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.div-main-general-section-history__div-part1-text {
  display: flex;
  flex-direction: column;
  gap: 74px;
}
.div-main-general-section-history__div-part1-title {
  width: 200px;
}
.div-main-general-section-history__div-part1-text {
  width: 420px;
}
.div-main-general-section-history__div-part1-text2 {
  width: 300px;
}

@media (max-width: 1275px) {
  .div-main-general-section-history {
    gap: 100px;
  }
  .part2-section-history {
    width: 500px;
  }
}
.div-main-general-section-developer {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 260px;
  padding: 0px 0px 170px 0px;
}
.div-main-general-section-developer__osnava-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.div-main-general-section-developer__osnava-content-img {
  width: 34px;
  height: 50px;
  padding: 0px 0px 18px 0px;
}
.div-main-general-section-developer__osnava-content-titel {
  width: 400px;
}

.div-main-general-section-video {
  display: flex;
  gap: 150px;
}
.div-main-general-section-video__div-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.div-main-general-section-video__div-content-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.div-main-general-section-video__div-content-text-text {
  width: 200px;
}
.div-main-general-section-video__div-content-text-link {
  color: #DF3D3A;
  font-size: 28px;
  display: flex;
}
.div-main-general-section-video__div-content-div-link-link {
  color: #DF3D3A;
}
.div-main-general-section-video__video3 {
  width: 920px;
  height: 590px;
}
.div-main-general-section-video__video2 {
  width: 920px;
  height: 590px;
}
.div-main-general-section-video__video1 {
  width: 920px;
  height: 590px;
}

.active {
  display: block;
}

.swiper-button-section-video {
  display: flex;
  gap: 12px;
}

.div-main-general-section-question {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-main-general-section-question__div-text {
  display: flex;
  justify-content: space-between;
  width: 1029px;
  padding: 0px 0px 24px;
  border-bottom: 2px solid rgb(36, 34, 34);
}
.div-main-general-section-question__button {
  color: white;
  border-radius: 100%;
  border: 0px;
  padding: 11px 18px 11px 18px;
  background-color: rgb(50, 45, 45);
}
.div-main-general-section-question__osnova-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.div-main-general-section-question__title {
  padding: 0px 0px 50px;
}

.section11-center {
  display: flex;
  justify-content: center;
}

.div-main-general-section-prise {
  display: flex;
  justify-content: end;
  gap: 150px;
  padding: 170px 0px;
  position: relative;
}
.div-main-general-section-prise__div-part1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.div-main-general-section-prise__div-part1-img {
  display: flex;
  gap: 20px;
}
.div-main-general-section-prise__div-part2 {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.div-main-general-section-prise__div-part3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.div-main-general-section-prise__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.div-main-general-section-prise__div-part2-text {
  display: flex;
  justify-content: space-between;
  padding: 26px 0px 0px;
  border-top: 2px solid;
  width: 400px;
}
.div-main-general-section-prise__div-part3-text {
  color: #DF3D3A;
}
.div-main-general-section-prise__div-part3-button {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  background-color: #DF3D3A;
  padding: 22px 166px;
  width: 400px;
  border: 0px;
}
.div-main-general-section-prise__div-part2-text2 {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 26px 0px 25px;
  border-bottom: 2px solid;
  border-top: 2px solid;
}

.big-img {
  width: 100%;
}

.div-main-general-section-end {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 170px 0px;
}
.div-main-general-section-end__div-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.div-main-general-section-end__osnova-content {
  display: flex;
  flex-direction: column;
  gap: 53px;
}
.div-main-general-section-end__button {
  background-color: black;
  border: 1px solid red;
  color: white;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 22px 229px;
  margin: 33px 0px 0px;
}
.div-main-general-section-end__div-input-input1 {
  background-color: black;
  color: white;
  border: 0px;
  border-bottom: 2px solid rgb(17, 17, 17);
  padding: 0px 277px 17px 0px;
}
.div-main-general-section-end__div-input-input2 {
  background-color: black;
  color: white;
  border: 0px;
  border-bottom: 2px solid rgb(17, 17, 17);
  padding: 0px 192px 97px 0px;
}
.div-main-general-section-end__div-input {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 510px;
}
.div-main-general-section-end__div-galochka-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  padding: 0px 20px 0px 0px;
}
.div-main-general-section-end__div-galochka-flex-link {
  display: flex;
  gap: 2px;
}
.div-main-general-section-end__div-text-h4 {
  width: 370px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0px;
}

.span-user-privasy {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  box-sizing: border-box;
}

.user-privacy:checked + .modal-label > .span-user-privasy {
  background-color: white;
}

.modal-label-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-weight: 600;
  font-size: 74px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}

h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #e7e7e7;
}

h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #e7e7e7;
}

body {
  background-color: black;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 44px;
    width: 300px;
  }
}