.div-main-general-section-video {
    display: flex;
    gap: 150px;

    &__div-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__div-content-text {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__div-content-text-text {
        width: 240px;
    }

    &__div-content-text-link {
        color: #DF3D3A;
        font-size: 28px;
        display: flex;
    }

    &__div-content-div-link-link {
        color: #DF3D3A;
    }

    &__video-end {
        max-width: 1220px;
        height: 540px;
    }

    &__video-middle {
        max-width: 1220px;
        height: 540px;
    }

    &__video-start {
        width: 920;
        height: 540px;
    }
}

.active {
    display: block;
}

.swiper-button-section-video {
    display: flex;
    gap: 12px;
}

.swiper-width {
    max-width: 920px;
}