.div-main-general-section-text {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 0px 170px 0px;

    &__div-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 430px;
    }
}