.div-main-general-section-functionality {
    &__title {
        padding: 0px 140px 0px 0px;
    }

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 170px 0px;
    align-items: center;

    &__div-content-text-left-half {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__div-content-text-left-half-img {
        height: 13px;
    }

    &__div-content-text-left {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__div-content-text-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__div-content {
        display: flex;
        gap: 220px;
    }
}