.div-main-general-section-advantages {
    display: flex;
    gap: 130px;
    padding: 170px 0px;

    &__div-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__div-content-part-top {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 330px;
    }

    &__div-content-part-bottom {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 290px;
    }
}

.part-img-section-advantages {
    width: 500px;
}